
h1 {
  font-size: 205px; 
  font-weight: bold;
  color: #24455c;
  font-family: "Trebuchet MS";
  text-shadow:
  -1px -1px 0 #ffffff,  
  1px -1px 0 #ffffff,
  -1px 1px 0 #ffffff,
  1px 1px 0 #ffffff;
}

h2 {
  font-size: 45px; 
  font-weight: bold;
  color: #24455c;
  font-family: "Trebuchet MS";
  text-shadow:
  -0.5px -0.5px 0 #ffffff,  
  0.5px -0.5px 0 #ffffff,
  -0.5px 0.5px 0 #ffffff,
  0.5px 0.5px 0 #ffffff;
}

/* logo */

.skin-blue .main-header .logo {
  font-family: "Trebuchet MS", Times, "Trebuchet MS", serif;
  font-weight: bold;
  font-size: 24px;
  background-color: #24455c;
  color: #ffffff;
}

/* logo when hovered */
.skin-blue .main-header .logo:hover {
              background-color: #24455c;
              color: #ffffff;
                      }

/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
                      background-color: #24455c;
                      color: #ffffff;
                      }

/* main sidebar */
.skin-blue .main-sidebar {
                      background-color: #24455c;
                      color: #ffffff;
                      }

/* active selected tab in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
                      background-color: #24455c;
                      color: #ffffff;
                      }

/* other links in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu a{
                      background-color: #24455c;
                      color: #ffffff;
                      }

/* other links in the sidebarmenu when hovered */
 .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
                      background-color: #193141;
                      color: #ffffff;
                      }
/* toggle button when hovered  */
 .skin-blue .main-header .navbar .sidebar-toggle:hover{
                      background-color: #193141;  
                      color: #ffffff;
                      }
                      
/* footer */
.footer{
  left: 0;
  bottom:0;
  width:100%;
  height:50px;   /* Height of the footer */
  z-index: 10;
  position: absolute;
}

/* boxes appearance */
.box.box-solid.box-primary>.box-header {
  color:#fff;
  background:#24455c
                    }

.box.box-solid.box-primary{
border-bottom-color:#24455c;
border-left-color:#24455c;
border-right-color:#24455c;
border-top-color:#24455c;
}
